<div class=" card">    
    <ion-list>
        <ion-radio ng-model="mc.note" 
                   ng-change="mc.changeNote(mc.note)"
                   ng-value="1">
            full
        </ion-radio>
        <ion-radio ng-model="mc.note" 
                   ng-change="mc.changeNote(mc.note)"
                   ng-value="2">
            half
        </ion-radio>
        <ion-radio ng-model="mc.note" 
                   ng-change="mc.changeNote(mc.note)"
                   ng-value="4">
            quarter
        </ion-radio>
        <ion-radio ng-model="mc.note" 
                   ng-change="mc.changeNote(mc.note)"
                   ng-value="8">
            eight
        </ion-radio>
        <ion-radio ng-model="mc.note" 
                   ng-change="mc.changeNote(mc.note)"
                   ng-value="16">
            sixteen
        </ion-radio>                                                
    </ion-list>
</div>